@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-dark: hsl(230 35% 7%);
  --clr-light: hsl(231 77% 90%);
  --clr-white: hsl(0 0% 100%);
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}
@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  font-weight: 400;
  color: var(--clr-white);
  background-color: var(--clr-dark);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--clr-white);
  text-transform: uppercase;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

section.page {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 32px;
  right: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: 95%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
nav::before {
  content: "";
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  height: 1px;
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  padding: 0 80px;
  height: 88px;
  position: relative;
  z-index: 2;
}
nav ul::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.05s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 0;
  background: var(--clr-light);
  opacity: 0;
}
nav ul li:hover::after {
  height: 4px;
  opacity: 1;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 8px;
}
nav ul li.active::after {
  height: 4px;
  background: var(--clr-white);
  opacity: 1;
}

.home.page {
  background: url("../assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 136px 200px 136px 136px;
  display: flex;
  align-items: flex-end;
}

.home-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.hero-description {
  width: 500px;
}
.hero-description h1,
.hero-description h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.hero-description h3 {
  font-size: var(--fs-500);
  font-family: var(--ff-sans-normal);
  color: var(--clr-light);
}
.hero-description h1 {
  font-size: var(--fs-900);
  font-family: var(--ff-serif);
  line-height: 1.2;
}
.hero-description p {
  line-height: 1.6;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  font-family: var(--ff-serif);
  font-size: var(--fs-500);
  text-transform: uppercase;
  color: var(--clr-dark);
  background-color: var(--clr-white);
  height: 275px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.explore::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 275px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--clr-white);
  opacity: 0;
  transition-property: opacity, height;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 0.8);
}
.explore:hover::after {
  opacity: 0.2;
  height: 350px;
}

.destination.page {
  background: url("../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding: 0 136px 60px;
}

.destination-content {
  display: flex;
  gap: 80px;
}
.destination-content .illustration h1 {
  margin-bottom: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.destination-content .illustration h1::before {
  content: "01";
  font-weight: 700;
  opacity: 0.3;
  margin-right: 16px;
}
.destination-content .description ul {
  display: flex;
  gap: 24px;
}
.destination-content .description ul li {
  text-transform: uppercase;
}/*# sourceMappingURL=index.css.map */