.destination.page {
  background: url("../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  padding: 0 136px 80px;
}


.destination-content {
  display: flex;
  gap: 160px;

  .illustration {
    aspect-ratio: 1 / 1;
    height: 445px;
    position: relative;
    
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .description {
    main {
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid var(--clr-light);

      ul {
        display: flex;
        gap: 24px;
        
        li {
          position: relative;
          padding-bottom: 12px;
          
          color: var(--clr-light);
          text-transform: uppercase;
          letter-spacing: 1px;
          cursor: pointer;
          transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
          
          &::after {
            content: "";
            
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            background: var(--clr-light);
            opacity: 0;
          }
          
          &:hover::after {
            opacity: 1;
          }
          
          &.active {
            color: var(--clr-white);
            scale: 1.05;
            
            &::after {
              background: var(--clr-white);
              opacity: 1;
            }
          }
        }
      }
      
      h1 {
        line-height: 1.8;
        font-size: var(--fs-800);
        font-family: var(--ff-serif);
        text-transform: uppercase;
      }
    }

    aside {
      display: flex;
      gap: 64px;

      text-transform: uppercase;

      h6 {
        color: var(--clr-light);
        font-size: 14px;
      }

      p {
        font-family: var(--ff-serif);
        font-size: var(--fs-500);
      }
    }
  }
}