.destination.page {
  background: url("../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  padding: 0 136px 60px;
}


.destination-content {
  display: flex;
  gap: 80px;

  .illustration {
    h1 {
      margin-bottom: 32px;
      text-transform: uppercase;
      letter-spacing: 3px;

      &::before {
        content: "01";
        font-weight: 700;
        opacity: 0.3;
        margin-right: 16px;
      }
    }
  }

  .description {
    ul {
      display: flex;
      gap: 24px;

      li {
        text-transform: uppercase;
      }
    }
  }
}